.def-background {
    background-color: var(--color-green-3);
}

.sub-header {
    background: url('~/src/img/end3_subheader_bg.png'), no-repeat;
    height: 25vh;

    &__box {
        margin-left: 5vw;
        color: white;
    }

    &__title {
        font-size: xx-large;
        margin-top: 5vh;
        width: 20vw;
    }
    &__description {
        margin-top: 2vh;
        width: 40vw;
    }
}

.sidebar {
    background-color: var(--color-background--navbar);
    min-height: 70vh;

    &__element {
        background-color: var(--color-background--light-green);
        border: solid 2px var(--color-background--attention) ;
        // display: block;
        border-radius: 6px;
        text-align: start;
        text-decoration: none !important;

        line-height: 40px;
        margin: 10px;
        height: 40px;
        padding-left: 10px;
        transition: 0.2s;
    }
    &__element:hover {
        background-color: var(--color-pink-light);
    }
}