
.logo {
    height: 50px;
}

.partner {
    max-height: 15vh;
    max-width: 100%;
}

.partner-form {
    max-height: 70px;
    max-width: 100%;
}

.download {
    max-height: 70px;
    max-width: 100%;
}

.admin-file-img {
    height: 40px; 
}