.sidebar {
    left: 0;
    height: inherit;
    width: fit-content;
    background-color: var( --color-background--navbar);
    padding: 15px 15px;

    &__menu {
        margin-top: 7vh;
        position: relative;

        &__link {
            text-decoration: none;
        }

        &__item {
            display: flex;
            align-items: center;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: var(--color-background--light-green);
            transition: color 0.1s ease-in-out;

            &__icon {
                display: flex;
            align-items: center;
                margin-right: 1rem;
            }
        }

        &__item:hover {
            background-color: var(--color-text);
            color: var(--color-yellow-light);;
        }
    }
}