.cards__container {

    width: 100%;
  
    margin: 50px auto;
    padding: 10%;
  
    background-color: #D6EBE0;
    ;
  
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px 30px;
  }
  