.footer {
    background-color: var(--color-background--navbar);
    display: flex;
    justify-content: center;
    padding: 30px 0;


    &-info-title {
        color: var(--color-background--light-green);
        font-size: 22px;
        font-weight: bold;
        line-height: 200%;
    }

    &-text {
        font-size: 20px;
        color: var(--color-background--light-green);
    }
}
