#title1_wrapper {
    background-image: url('/src/img/green-dirty-blackboard 1.png');
}
#title1_box_wrapper {
    height: 93vh;
    flex-direction: column;
}

#title_box {
    height: 35vh;
    width: 30vw;
    border-radius: 20px;
    background-color: #456554;
}

.white_text {
    color: white;
}

.mt-custom {
    margin-top: 4vh;
}

.mb-custom {
    margin-bottom: 10vh;
}