:root { 
   --color-background--light: #FFFFFF;
   --color-background--light-green: #D6EBE0;
    --color-background--navbar: #456554;
    --color-text: #2C3832;
    --color-text--dark: #1e2723;
    --color-text--attention: #7C5564;
    --color-background--attention: rgba(228, 29, 55, 0.3);
    --color-green-1: #6D937F;
    --color-green-2: #93B2A1;
    --color-pink-light: #BE9DA9;
    --color-yellow: #F5E768;
    --color-yellow-1: #C7B198;
    --color-green-3: #F5FBF1;
}